* @bentoml/bentoml-reviewers
/bentoml/_internal/bento/ @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/server/ @bojiang @bentoml/bentoml-reviewers
/bentoml/_internal/frameworks/ @larme @bentoml/bentoml-reviewers
/bentoml/_internal/io_descriptors/ @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/runner/ @bojiang @bentoml/bentoml-reviewers
/bentoml/_internal/cli/ @ssheng @parano @larme @bentoml/bentoml-reviewers
/bentoml/_internal/yatai* @yetone @bentoml/bentoml-reviewers
/bentoml/_internal/service/ @parano @bentoml/bentoml-reviewers
/bentoml/_internal/utils/analytics @aarnphm @bentoml/bentoml-reviewers
/bentoml/_internal/configuration/ @ssheng @bentoml/bentoml-reviewers
/bentoml/_internal/models/ @sauyon @bentoml/bentoml-reviewers
/bentoml/_internal/marshal/ @bojiang @bentoml/bentoml-reviewers
/bentoml/_internal/*.py @sauyon @bentoml/bentoml-reviewers
/bentoml/testing/ @bojiang @bentoml/bentoml-reviewers
/docs/ @parano @ssheng
