{{ metadata.header }}
{% set cached = ['arm32v5', 'arm32v6'] %}
ARG PYTHON_VERSION

ARG XX_VERSION={{ xx_version }}

ARG RELEASE_DISTROS={{ distros }}

FROM --platform=$BUILDPLATFORM {{ xx_image }}:${XX_VERSION} AS xx

FROM --platform=$BUILDPLATFORM python:${PYTHON_VERSION}-${RELEASE_DISTROS} as base
{% for key in metadata.arch_context if key not in cached -%}
    {% if 'arm64' in key %}

FROM base as base-arm64
    {% elif 'arm' in key %}

FROM base as base-arm
    {% elif 'i386' in key %}

FROM base as base-386
    {% else %}

FROM base as base-{{ key }}
    {% endif %}
{% endfor %}

FROM base-${TARGETARCH}

COPY --from=xx / /

ARG TARGETPLATFORM

ARG TARGETARCH

ENV PATH /usr/local/bin:$PATH

ENV ENV /root/.bashrc

CMD [ "/bin/bash" ]
{% for key, value in metadata.envars.items() if key != "BENTOML_VERSION"%}
{% if key in ["PYTHON_VERSION"] %}

ARG {{ key }}
{% else %}

ENV {{ key }}={{ value }}
{% endif %}
{% endfor %}

RUN xx-apk add --no-cache --update bash gcc libc-dev
