[run]
omit=
	bentoml/_version.py
	bentoml/_internal/adapters/pytorch_tensor_input.py
	bentoml/_internal/utils/cloudpickle.py
	bentoml/_internal/types.py
	bentoml/_internal/yatai_client/proto/*
	bentoml/__main__.py

[report]
show_missing = true