language: python

dist: xenial

cache:
  pip: true

python:
  - 3.6
  - 3.7
  - 3.8

services:
  - docker

install:
  - "python -m pip install --upgrade pip"
  - "pip install ."
  - "pip install --upgrade .[test]"
  - "pip install --upgrade docker==4.2.2" # Travis support max API version 1.3.8

git:
  # BentoML uses the python-versioneer to manage release version tags. On dev branches, as well as
  # testing environments, the BentoML version specified in the saved bundle, including the
  # dockerfile and requirements.txt, will be pointing to the last PyPI release, determined by the
  # latest git tag. Having a shallow git clone depth may lead to problem where it failedto fetch
  # the commit/tag of the latest BentoML PyPI release.
  depth: 200

script:
  - ./travis/unit_tests.sh

after_success:
  - codecov

matrix:
  include:
    - name: "Linting & formatting check"
      python: "3.6"
      script:
        - ./travis/linter.sh

    - name: "Tensorflow v2.2 Artifact"
      python: "3.6"
      script:
        - ./travis/tensorflow_v2.2_integration_tests.sh

    - name: "H2o Artifact"
      python: "3.6"
      script:
        - ./travis/h2o_integration_tests.sh

    - os: windows
      language: sh
      python: "3.6"
      cache:
        - pip: true
      before_install:
        - choco install python --version 3.6.8
        - export PATH="/c/Python36:/c/Python36/Scripts:$PATH"

    - name: "ONNX artifact"
      python: "3.6"
      script:
        - ./travis/onnx_integration_tests.sh

    - name: "Pytorch Artifact"
      python: "3.6"
      script:
        - ./travis/pytorch_integration_tests.sh

    - name: "API Server Integration Tests"
      python: "3.7"
      script:
        - ./travis/integration_tests.sh

    # https://docs.travis-ci.com/user/reference/osx#using-macos
    - name: "CoreML artifact (minimal)"
      os: osx
      osx_image: xcode12
      language: minimal
      before_install:
        - source ./travis/install_python36_osx.sh
      script:
        - ./travis/coreml_integration_tests.sh
