language: python

dist: trusty

cache: pip

python:
  - 2.7
  - 3.6
  - 3.7

install:
  - "pip install --upgrade pip"
  - "pip install .[test]"
  - "pip install ."

script:
  - pytest --cov=bentoml

after_success:
  - codecov
