language: python

dist: xenial

services:
  - docker

cache:
  pip: true

python:
  - 3.6
  - 3.7
  - 3.8

install:
  - "python -m pip install --upgrade pip"
  - "pip install protobuf==3.6.0"
  - "pip install ."
  - "pip install --upgrade .[test]"

matrix:
  include:
    - os: windows
      language: sh
      python: "3.6"
      cache:
        - pip: true
      before_install:
        - choco install python --version 3.6.8
        - export PATH="/c/Python36:/c/Python36/Scripts:$PATH"

    - python: "3.6"
      name: "Linting check"
      script:
        - ./dev/lint.sh

    - python: "3.6"
      name: "Yatai Service"
      script:
        - ./travis/run_yatai_service_e2e_tests.sh

    - name: "ONNX model artifact"
      python: "3.6"
      script:
        - ./travis/run_onnx_model_artifact_tests.sh

script:
  - ./travis/run_python_tests.sh

after_success:
  - codecov

