# Patterns to exclude from any directory
global-exclude *~
global-exclude *.py[cod]
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude .*_cache
global-exclude tests

recursive-exclude bentoml __pycache__

# Included in PyPI distribution
graft bentoml/_internal
graft bentoml/*.py

# Prune directory not to be included in PyPI package
prune tests
prune typings
prune scripts
prune hooks
prune docs
