# All files tracked by Git are included in PyPI distribution

# Files to exclude in PyPI distribution
exclude .git*
exclude .pep8speaks.yml
exclude .yamllint.yml
exclude .readthedocs.yml
exclude CONTRIBUTING.md
exclude GOVERNANCE.md
exclude CODE_OF_CONDUCT.md
exclude DEVELOPMENT.md
exclude SECURITY.md
exclude Makefile
exclude MANIFEST.in

# Directories to exclude in PyPI package
prune requirements
prune tests
prune *.egg-info
prune typings
prune scripts
prune hooks
prune docs
prune .github
prune .DS_Store

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude .DS_Store
