include README.md
include LICENSE

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .github
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude tests

# Included in PyPI distribution
include bentoml/*.py
include versioneer.py
include bentoml/_version.py
include bentoml/_internal/bento/docker-entrypoint.sh
graft bentoml/_internal

exclude .readthedocs.yml
exclude .pep8speaks.yml
exclude codecov.yml
exclude CONTRIBUTING.md
exclude GOVERNANCE.md
exclude Makefile

# Prune directory not to be included in PyPI package
prune requirements
prune tests
prune docker
prune typings
prune scripts
prune hooks
prune docs
