[tool.black]
line-length = 88
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.tox
    | \.venv
    | _build
    | build
    | dist
    | examples
    | guides
    | stubs
    | third_party
  )/
  | bentoml/_version.py
  | versioneer.py
)
'''
