[tool.black]
line-length = 88
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.tox
    | \.venv
    | _build
    | build
    | dist
    | examples
    | guides
  )/
  | bentoml/_version.py
  | versioneer.py
  | bentoml/utils/cloudpickle.py
  | bentoml/_internal/yatai_client/proto
  | yatai/yatai/proto
  | tests/unit/yatai/proto
  | third_party
)
'''
