
# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude __pycache__


include versioneer.py
include yatai/_version.py


# Include yatai server UI distribution files
graft web_server/dist

# Inlucde migration files
graft yatai/migrations
include yatai/alembic.ini

prune tests
