{{ metadata.header }}

ARG PYTHON_VERSION

FROM {{ metadata.package }}:{{ build_tag }} as base

FROM base-${TARGETARCH}

ARG TARGETARCH

LABEL maintainer "BentoML Team <contact@bentoml.ai>"

WORKDIR /

RUN pip install -U git+https://github.com/bentoml/bentoml.git@main
