{{ metadata.header }}

{% set cached = ['arm32v5', 'arm32v6'] %}

{% set pip_options = ['--no-cache-dir'] %}
ARG PYTHON_VERSION

FROM {{ metadata.package }}:{{ build_tag }} as base

{% for key in metadata.arch_ctx if key not in cached %}
    {% if 'arm64' in key %}

FROM base as base-arm64
    {% elif 'arm' in key %}

FROM base as base-arm
    {% elif 'i386' in key %}

FROM base as base-386
    {% else %}

FROM base as base-{{ key }}
    {% endif %}
{% endfor %}

FROM base-${TARGETARCH}

ARG TARGETARCH

ENV BENTOML_VERSION={{ metadata.envars['BENTOML_VERSION'] }}

RUN pip install bentoml==${BENTOML_VERSION} {{ pip_options|join(' ') }}
