{{ header }}
{% set cached = ['arm32v5', 'arm32v6'] %}
{% set pip_options = ['--no-cache-dir'] %}
ARG PYTHON_VERSION

FROM --platform=$BUILDPLATFORM {{ organization }}/{{ base_tag }} as base
{% for key in architectures if key not in cached %}
    {% if 'arm64' in key %}

FROM base as base-arm64
    {% elif 'arm' in key %}

FROM base as base-arm
    {% elif 'i386' in key %}

FROM base as base-386
    {% else %}

FROM base as base-{{ key }}
    {% endif %}
{% endfor %}

FROM base-${TARGETARCH}

ARG TARGETARCH

ENV BENTOML_VERSION={{ envars['BENTOML_VERSION'] }}

RUN --mount=type=cache,mode=0777,target=/root/.cache/pip \
    pip install bentoml==${BENTOML_VERSION} {{ pip_options|join(' ') }}

RUN rm -rf /var/cache/yum
