{{ metadata.header }}

{% set pip_options = ['--no-cache-dir'] %}
ARG PYTHON_VERSION

FROM {{ metadata.package }}:{{ build_tag }} as build_image

ENV BENTOML_VERSION={{ metadata.envars['BENTOML_VERSION'] }}

RUN pip install bentoml[{{ metadata.package | replace("-","_") }}]==${BENTOML_VERSION} {{ pip_options|join(' ') }}

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]

CMD ["bentoml", "serve-gunicorn", "/bento"]