@import url("./common.css");
@import url("./nav_patch.css");
@import url("./typeface/typeface.css");

.wy-nav-content {
    max-width: 1400px;
    background-color: var(--white);
}

.py.function, .py.class {
    margin: 12px 0px 6px 0px;
}

.py.function dt, .py.class dt, .py.method dt {
    width: 100%;
}

.py.function dd, .py.class dd, .py.method dd {
    margin: 0 0 12px 36px;
}

.py.function dd dl, .py.class dd dl, .py.method dd dl {
    display: grid;
    grid-template-columns: max-content auto;
}

.py.function dl dl dt, .py.class dl dl dt, .py.method dl dl dt {
    border-left: none;
    background: transparent;
    color: var(--gray);
}

.py.class dt span, .py.function dt span, .py.method dt span {
    font-family: "IBM Plex Mono",monospace;
}

/* The one with literal code blocks */
.rst-content code.literal, .rst-content tt.literal {
    color: #52525b;
    white-space: normal;
    font-weight: 400;
    border: none;
    background: transparent;
    font-size: 14px;
    font-family: 'IBM Plex Mono';
}

/* The one with code block fonts */
.rst-content .linenodiv pre, .rst-content div[class^=highlight] pre, .rst-content pre.literal-block {
    font-family: "IBM Plex Mono",Menlo,Monaco,Consolas,monospace;
    font-size: 14px;
    line-height: 1.4;
}

/* the one that highlights functions and class box */
html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    border-top: none;
    line-height: 26px;
    color: rgba(236,188,188);
    background: rgba(236,188,188,0.4);
}
