/* DOM objects */
:root {
    /* misc color */
    --nav-color: rgb(235,236,237);
    --toc-nested-color: rgb(227,227,227);
    /* palette */
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --gray: rgba(155,154,151, 0.7);
    --red: rgb(224,62,62);
    --green: rgb(77,171,154);
    --blue: rgba(82,156,202,0.5);
    --yellow: rgb(254,184,0);
    --orange: rgb(251, 141, 104);
    --light-orange: rgba(251, 141, 104, 0.1);
}

body {
    font-family: Calibre, sans-serif;
    font-size: 18px;
}

h1 {
    font-family: Calibre-Thin, sans-serif;
    font-size: 40px;
}

h2,h3, h4, h5, h6, .rst-content .toctree-wrapper p.caption, legend {
    font-family: Calibre-Medium, sans-serif;
}
em  {
    font-style: normal;
}

@font-face {
    font-family: Calibre;
    src: url(./Calibre-Regular.otf);
    font-weight:400;
}
@font-face {
    font-family: Calibre-Light;
    src: url(./Calibre-Light.ttf);
    font-weight:300;
}
@font-face {
    font-family: Calibre-Thin;
    src: url(./Calibre-Thin.otf);
    font-weight:100;
}
@font-face {
    font-family: Calibre-Medium;
    src: url(./Calibre-Medium.otf);
    font-weight:500;
}

/* The one with copy button */
a.copybtn {
    margin: 3px;
}

/* The one with links */
a {
    color: var(--orange);
}

/* The one with custom code snippets */
.highlight .nn, .highlight .bp, .highlight .nb, .highlight .vm {
    color: inherit;
}

.highlight .k {
    color: var(--yellow);
}

.highlight .kn, .highlight .nv, .highlight .ow {
    color: rgb(82,156,202);
}

.highlight .gp, .highlight .nd {
    color: var(--orange);
}

.highlight .nc {
    font-weight: bold;
}

.highlight .nc, .highlight .nf {
    color: var(--red);
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* Nav related patch */

.wy-side-nav-search {
    padding-top: 0;
    background-color: var(--nav-color);
}

/* The one above the toc tree */
.wy-side-nav-search>div.version {
    color: var(--black);
}

.wy-side-nav-search input[type=text] {
    width: 100%;
    border-radius: 0;
    padding: 6px 12px;
    border-color: inherit;
}

/* The one with the toc tree */
.wy-nav-side {
    background: var(--nav-color);
}

.wy-side-scroll {
    width: -moz-fit-content;
    font-size: 19px;
}

/* The one with the fonts */
.wy-menu-vertical a {
    color: var(--black);
    font-family: Calibre-Light, sans-serif;
}

.wy-menu-vertical header {
    color: var(--black);
    font-family: Calibre-Light, sans-serif;
}

/* The one with the text color in each toctree block */
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a {
    color: var(--black);
}

/* The one with toc tree section headers */
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    color: #404040;
    font-weight: 700;
    position: relative;
    background: var(--blue);
}

/* The selected items in the toc tree */
.wy-menu-vertical li.current {
    background-color: var(--toc-nested-color);
}

/* The one with all the hover */
.wy-menu-vertical li a:hover{
    background-color: var(--yellow);
}
.wy-menu-vertical li.toctree-l1 a:hover{
    background: var(--light-orange);
}
.wy-menu-vertical li.toctree-l2 a:hover {
    background: var(--light-orange);
}
.wy-menu-vertical li.toctree-l3 a:hover {
    background: var(--light-orange);
}
.wy-menu-vertical li.toctree-l4 a:hover {
    background: var(--light-orange);
}

/* The one with depth-2 selected toc tree block */
.wy-menu-vertical li.toctree-l2.current>a {
    background-color: var(--toc-nested-color);
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    --gray: rgba(155,154,151,0.3);
    background-color: var(--gray);
}

/* The one with depth-3 selected toc tree block */
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a{
    background-color: var(--gray);
}

/* Expand button */
.wy-menu-vertical li.toctree-l2 span.toctree-expand,
.wy-menu-vertical li.on a span.toctree-expand, .wy-menu-vertical li.current>a span.toctree-expand,
.wy-menu-vertical li.toctree-l3 span.toctree-expand{
    color: var(--black);
}

/* -------------------------------------------------------------------------------------------------------------------*/
/* Content related patch */

.wy-nav-content {
    max-width: 100%;
    background-color: var(--white);
}

/* Quote block */
.rst-content .line-block {
    margin-bottom: 24px;
    line-height: 26px;
}

html.writer-html4 .rst-content dl:not(.docutils) dl:not(.field-list)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
    border: none;
    background: none;
    color: none;
    font-size: 16px;
}

/* The one with new line parameters */
.rst-content dd dl.field-list.simple {
    display: grid;
    margin-bottom: inherit;
    align-content: space-between;
}

/* The one inside code snippets */
.rst-content dl:not(.docutils) dt {
    font-size: 17px;
}

.rst-content dl:not(.docutils) dl dt {
    display: table;
}

/* The one with the class header */
html.writer-html4 .rst-content dl:not(.docutils)>dt, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
    display: table;
    margin: 6px 0;
    font-size: 20px;
    line-height: normal;
    background: var(--light-orange);
    border-top: 3px solid var(--orange);
    color: var(--orange);
    padding: 6px;
    position: relative;
}

html.writer-html5 .rst-content dl.field-list>dt, html.writer-html5 .rst-content dl.footnote>dt {
    padding-left: 5px;
    padding-right: 5px;
}

/* Method and class parameters */
.sig-param{
    line-height: 15px;
}

/* Class introduction "class" string at beginning */
.rst-content dl:not(.docutils) .property{
    font-size: 18px;
    color: black;
}

/* The one with literal code blocks */
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: var(--red);
}

/* Class introduction "class" string at beginning */
.rst-content dl:not(.docutils) .property {
    font-size: 18px;
    color: black;
}

/* class and method names in doc */
.rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) tt.descclassname, .rst-content dl:not(.docutils) tt.descname, .rst-content dl:not(.docutils) code.descname, .rst-content dl:not(.docutils) tt.descclassname, .rst-content dl:not(.docutils) code.descclassname {
    font-family: Calibre, sans-serif;
    font-size: 21px !important;
}
