jax[cpu]==0.4.4
flax>=0.6.1
optax>=0.1.3
bentoml[grpc,grpc-reflection]
tensorflow;platform_system!="Darwin"
tensorflow-macos;platform_system=="Darwin"
tensorflow-datasets
Pillow
pytest
pytest-asyncio
