FROM {{ metadata.base_image }}

{{ for }}
# setup ENV here
ENV {{ value }}
{{ endfor }}

ENV PATH /opt/conda/bin:$PATH

ARG PYTHON_VERSION={{ metadata.python_version }}
# needed for string substitution
SHELL ["/bin/bash", "-c"]

RUN apt-get update -q && \
    apt-get install -q -y --no-install-recommends \
      ca-certificates wget git && \
    apt-get clean && \
    rm -rf /var/lib/apt/lists/*

RUN wget --quiet https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh && \
    chmod +x ~/miniconda.sh && \
    ~/miniconda.sh -b -p /opt/conda && \
    rm ~/miniconda.sh && \
    find /opt/conda/ -follow -type f -name '*.a' -delete && \
    find /opt/conda/ -follow -type f -name '*.js.map' -delete && \
    /opt/conda/bin/conda install -y python=${PYTHON_VERSION} pip && \
    /opt/conda/bin/conda clean -afy