{{ metadata.header }}

{# we still set base_img here as a fallback in case tags doesn't get parsed when we render our templates #}
{% set base_img = "python" + metadata.envars["PYTHON_VERSION"] + "-" + metadata.add_to_tags + "-" + metadata.base_tags %}
{% if tags %}
FROM {{ metadata.package }}:{{ tags.basename }}
{% else %}
FROM {{ metadata.package }}:{{ base_img }}
{% endif %}

WORKDIR /
RUN git clone https://github.com/bentoml/BentoML.git && \
    cd BentoML && \
    pip install --editable . && \
    apt-get purge --autoremove -y curl build-essential && \
    rm -rf /var/lib/apt/lists/*

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]