{{ metadata.header }}

{% set base_img = metadata.envars["BENTOML_VERSION"] + "-" + "python"+ metadata.envars["PYTHON_VERSION"] +"-"+ "base" %}

FROM {{ metadata.package }}:{{ base_img }}

COPY tools/bashrc /etc/bash.bashrc
RUN chmod a+r /etc/bash.bashrc

WORKDIR /
RUN git clone https://github.com/bentoml/BentoML.git && \
    cd BentoML && \
    pip install --editable .

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]