{{ metadata.header }}

{% set base_img = metadata.envars["BENTOML_VERSION"] + "-" + "python"+ metadata.envars["PYTHON_VERSION"] + "-" + metadata.add_to_tags + "-" + metadata.base_tags %}

FROM {{ metadata.package }}:{{ base_img }}

WORKDIR /
RUN git clone https://github.com/bentoml/BentoML.git && \
    cd BentoML && \
    pip install --editable . && \
    apt-get purge --autoremove -y curl build-essential

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]