{{ metadata.header }}

ARG PYTHON_VERSION

{% set cached = ['arm32v5', 'arm32v6'] %}

FROM {{ metadata.package }}:{{ build_tag }} as base

{% for key in metadata.arch_ctx if key not in cached %}
    {% if 'arm' in key %}

FROM base as base-arm
    {% elif 'i386' in key %}

FROM base as base-386
    {% else %}

FROM base as base-{{ key }}
    {% endif %}
{% endfor %}

FROM base-${TARGETARCH}

ARG TARGETARCH

LABEL maintainer "BentoML Team <contact@bentoml.ai>"

WORKDIR /

RUN pip install -U git+https://github.com/bentoml/bentoml.git@main && \
    apt-get purge --auto-remove -y curl && \
    rm -rf /var/lib/apt/lists/*
