{{ metadata.header }}

{# we still set base_img here as a fallback in case tags doesn't get parsed when we render our templates #}
{% set base_img = "python" + metadata.envars["PYTHON_VERSION"] + "-" + metadata.add_to_tags + "-" + metadata.base_tags %}
{% if tags %}
FROM {{ metadata.package }}:{{ tags.basename }}
{% else %}
FROM {{ metadata.package }}:{{ base_img }}
{% endif %}

RUN pip install bentoml[{{ metadata.package | replace("-","_") }}]==$BENTOML_VERSION --no-cache-dir && \
    apt-get purge --autoremove -y curl build-essential && \
    rm -rf /var/lib/apt/lists/*

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]

{% if metadata.package == "model-server" %}
CMD ["bentoml", "serve-gunicorn", "/bento"]
{% else %}
CMD ["bentoml", "yatai-service-start"]
{% endif %}