{{ metadata.header }}

{% set base_img = metadata.envars["BENTOML_VERSION"] + "-" + "python"+ metadata.envars["PYTHON_VERSION"] +"-"+ "base" %}

FROM {{ metadata.package }}:{{ base_img }}

RUN pip install bentoml[{{ metadata.package | replace("-","_") }}]==${BENTOML_VERSION} --no-cache-dir

COPY tools/{{ metadata.package }}/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]

{% if metadata.package == "model-server" %}
    CMD ["bentoml", "serve-gunicorn", "/bento"]
{% else %}
    CMD ["bentoml", "yatai-service-start"]
{% endif %}