/* Font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap');

@font-face {
    font-family: Calibre;
    src: url(./Calibre-Regular.otf);
    font-weight:400;
}
@font-face {
    font-family: Calibre-Light;
    src: url(./Calibre-Light.ttf);
    font-weight:300;
}
@font-face {
    font-family: Calibre-Thin;
    src: url(./Calibre-Thin.otf);
    font-weight:100;
}
@font-face {
    font-family: Calibre-Medium;
    src: url(./Calibre-Medium.otf);
    font-weight:500;
}