# NOTE: PUT YOUR PYPI dependencies under `dependencies`
# `dependencies` will pass all given arguments to a `requirements.txt`
#  then `./scripts/ci/run_tests.sh` will try to install all given dependencies
#  for given tests
#  `external_scripts` will be run AFTER installing dependencies, and can be used
#  to setup external envvar

template: &tmpl
  root_test_dir: "tests/integration/frameworks"
  is_dir: false
  override_name_or_path:
  dependencies: []
  external_scripts:
  type_tests: "integration"

unit:
  <<: *tmpl
  root_test_dir: "tests/unit"
  is_dir: true
  type_tests: "unit"

general_features:
  <<: *tmpl
  root_test_dir: "tests/e2e/bento_server_general_features"
  is_dir: true
  type_tests: "e2e"
  dependencies:
    - "Pillow"

general_features_sync:
  <<: *tmpl
  root_test_dir: "tests/e2e/bento_server_general_features_sync"
  is_dir: true
  type_tests: "e2e"
  dependencies:
    - "Pillow"

catboost:
  <<: *tmpl
  dependencies:
    - "catboost"

detectron2:
  <<: *tmpl
  dependencies:
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"
    - "torchvision==0.10.0+cpu"
    - "-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.9/index.html"
    - "detectron2"

easyocr:
  <<: *tmpl
  dependencies:
    - "easyocr"
    - "opencv-python-headless==4.5.4.60"

evalml:
  <<: *tmpl
  dependencies:
    - "evalml>=0.25.0"

fastai:
  <<: *tmpl
  dependencies:
    - "fastai"

fasttext:
  <<: *tmpl
  dependencies:
    - "fasttext"

gluon:
  <<: *tmpl
  dependencies:
    - "mxnet"

h2o:
  <<: *tmpl
  dependencies:
    - "h2o"

keras_tf1:
  <<: *tmpl
  override_name_or_path: test_keras_impl.py
  dependencies:
    - "tensorflow==1.15"
    - "h5py==2.10.0"

keras_tf2:
  <<: *tmpl
  override_name_or_path: test_keras_impl.py
  dependencies:
    - "tensorflow==2.2.0"

lightgbm:
  <<: *tmpl
  dependencies:
    - "lightgbm"

# we need to use external_scripts to update scikit-learn here due to some error
# with mismatch scikit-learn from mlflow side
mlflow:
  <<: *tmpl
  is_dir: true
  override_name_or_path: mlflow
  dependencies:
    - "mlflow"
  external_scripts: |
    python -m pip install -U scikit-learn

onnx:
  <<: *tmpl
  dependencies:
    - "onnx"
    - "onnxruntime"
    - "skl2onnx"
    - "tensorflow"
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"

onnxmlir:
  <<: *tmpl
  dependencies:
    - "tensorflow"
    - "tf2onnx"
    - "pandas"
    - "protobuf"

paddle:
  <<: *tmpl
  is_dir: true
  override_name_or_path: paddle
  dependencies:
    - "opencv-python==4.5.4.58"
    - "paddlepaddle"
    - "paddlehub"
    - "gast==0.3.3"
  external_scripts: |
    export SETUPTOOLS_USE_DISTUTILS=stdlib

picklable_model:
  <<: *tmpl

pycaret:
  <<: *tmpl
  dependencies:
    - "numba==0.53.1"
    - "pycaret==2.3.3"

pyspark:
  <<: *tmpl
  dependencies:
    - "pyspark"

pytorch_lightning:
  <<: *tmpl
  dependencies:
    - "pytorch-lightning"
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"
    - "torchvision==0.10.0+cpu"

pytorch:
  <<: *tmpl
  dependencies:
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"
    - "torchvision==0.10.0+cpu"
    - "psutil"

sklearn:
  <<: *tmpl

spacy:
  <<: *tmpl
  is_dir: true
  override_name_or_path: spacy
  dependencies:
    - "spacy==3.1.2"
    - "pyyaml"
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"
    - "torchvision==0.10.0+cpu"
    - "tensorflow==2.6.0"
  external_scripts: |
    python -m spacy download en_core_web_sm
    python -m pip install "typing_extensions>=3.10"

statsmodels:
  <<: *tmpl
  dependencies:
    - "statsmodels==0.12.2"
    - "scipy==1.7.3"  # statsmodels 0.12.2 is using internal APIs of scipy
    - "joblib"

tf1:
  <<: *tmpl
  override_name_or_path: test_tensorflow_v1_impl.py
  dependencies:
    - "tensorflow==1.15"
    - "tensorflow_hub"

tf2:
  <<: *tmpl
  override_name_or_path: test_tensorflow_v2_impl.py
  dependencies:
    - "tensorflow_text"
    - "tensorflow_hub"
    - "tensorflow"

transformers:
  <<: *tmpl
  dependencies:
    - "transformers"
    - "tensorflow_hub"
    - "-f https://download.pytorch.org/whl/torch_stable.html"
    - "torch==1.9.0+cpu"
    - "torchvision==0.10.0+cpu"
    - "jax==0.2.19"
    - "jaxlib==0.1.70"
    - "flax==0.3.4"
    - "tensorflow==2.5.0"
    - "importlib_metadata"
    - "Pillow==8.4.0"
  external_scripts: |
    python -m pip install "typing_extensions>=3.10"

xgboost:
  <<: *tmpl
  dependencies:
    - "xgboost"
