{% extends "base_alpine.j2" %}
{% block SETUP_BENTO_COMPONENTS %}
{{ common.setup_conda(__python_version__, bento__path) }}
{{ super() }}
{% endblock %}
{% block SETUP_BENTO_ENTRYPOINT %}
RUN rm -rf /var/cache/apk/*
{{ super() }}
{% endblock %}
