tritonclient[all]>=2.29.0
opencv-python
torchvision
pydantic
locust
tensorflow;platform_system!='Darwin'
tensorflow-io;platform_system!='Darwin'
tensorflow-macos;platform_system=='Darwin'
onnx
onnxruntime
torch
# YOLOv5 dependencies
seaborn
thop
tqdm
pandas
mss
albumentations
