{% set cached = ['arm32v5', 'arm32v6'] %}
{% if "x86_64" in cuda_spec %}
{% do cached.append("amd64") %}
FROM base as base-amd64
ENV NVARCH x86_64

{% if "requires" in cuda_spec.x86_64 %}
ENV NVIDIA_REQUIRE_CUDA "{{ cuda_spec.x86_64.requires }}"
{% endif %}

# setup libraries versions
ENV NVIDIA_CUDA_CUDART_VERSION {{ cuda_spec.x86_64.cudart.version }}
ENV NVIDIA_NVTX_VERSION {{ cuda_spec.x86_64.nvtx.version }}
{% if "libnpp" in cuda_spec.x86_64 %}
{% set has_libnpp_package = true %}
ENV NVIDIA_LIBNPP_VERSION {{ cuda_spec.x86_64.libnpp.version }}
{% endif %}
ENV NVIDIA_LIBCUBLAS_VERSION {{ cuda_spec.x86_64.libcublas.version }}
{% if "libnccl2" in cuda_spec.x86_64 and cuda_spec.x86_64.libnccl2 %}
{% set has_libnccl_package = true %}
ENV NVIDIA_LIBNCCL_PACKAGE_VERSION {{ cuda_spec.x86_64.libnccl2.version }}
ENV NVIDIA_LIBNCCL_VERSION {{ cuda_spec.x86_64.libnccl2.version[:-2] }}
ENV NCCL_VERSION {{ cuda_spec.x86_64.libnccl2.version[:-2] }}
{% endif %}
{% if "libcusparse" in cuda_spec.x86_64 and cuda_spec.x86_64.libcusparse %}
{% set has_libcusparse_package = true %}
ENV NVIDIA_LIBCUSPARSE_VERSION {{ cuda_spec.x86_64.libcusparse.version }}
{% endif %}
{% if "cudnn" in cuda_spec.x86_64 and cuda_spec.x86_64.cudnn8.version != "" %}
{% set has_cudnn_package = true %}
ENV NVIDIA_CUDNN_VERSION {{ cuda_spec.x86_64.cudnn8.version }}
ENV NVIDIA_CUDNN_PACKAGE_NAME libcudnn{{ cuda_spec.x86_64.cudnn8.major }}
{% endif %}

# setup libraries packages
ENV NVIDIA_CUDA_COMPAT_PACKAGE cuda-compat-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
{% if docker_options.distro in ['ubi8', 'amazonlinux'] %}
# package name definition
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}-${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME libnccl
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}-${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif -%}
{% if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.x86_64.cudnn8.major }}-${NVIDIA_CUDNN_VERSION}.cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
RUN <<EOF > /etc/yum.repos.d/cuda.repo
[cuda]
name=cuda
baseurl={{ cuda_spec.repository }}/rhel8/x86_64
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-NVIDIA
EOF
{% else %}
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}=${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libcusparse_package %}
ENV NVIDIA_CUSPARSE_PACKAGE libcusparse-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBCUSPARSE_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME "libnccl2"
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}=${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{%if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.x86_64.cudnn8.major }}=${NVIDIA_CUDNN_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{% endif %}
{% endif %}

{# ----------------------------------------------------------------------------------------------------------------- #}
{% if "sbsa" in cuda_spec %}
{% do cached.append("arm64") %}
FROM base as base-arm64
ENV NVARCH sbsa

{% if "requires" in cuda_spec.sbsa %}
ENV NVIDIA_REQUIRE_CUDA "{{ cuda_spec.sbsa.requires }}"
{% endif %}

# setup libraries versions
ENV NVIDIA_CUDA_CUDART_VERSION {{ cuda_spec.sbsa.cudart.version }}
ENV NVIDIA_NVTX_VERSION {{ cuda_spec.sbsa.nvtx.version }}
{% if "libnpp" in cuda_spec.sbsa %}
{% set has_libnpp_package = true %}
ENV NVIDIA_LIBNPP_VERSION {{ cuda_spec.sbsa.libnpp.version }}
{% endif %}
ENV NVIDIA_LIBCUBLAS_VERSION {{ cuda_spec.sbsa.libcublas.version }}
{% if "libnccl2" in cuda_spec.sbsa and cuda_spec.sbsa.libnccl2 %}
{% set has_libnccl_package = true %}
ENV NVIDIA_LIBNCCL_PACKAGE_VERSION {{ cuda_spec.sbsa.libnccl2.version }}
ENV NVIDIA_LIBNCCL_VERSION {{ cuda_spec.sbsa.libnccl2.version[:-2] }}
ENV NCCL_VERSION {{ cuda_spec.sbsa.libnccl2.version[:-2] }}
{% endif %}
{% if "libcusparse" in cuda_spec.sbsa and cuda_spec.sbsa.libcusparse %}
{% set has_libcusparse_package = true %}
ENV NVIDIA_LIBCUSPARSE_VERSION {{ cuda_spec.sbsa.libcusparse.version }}
{% endif %}
{% if "cudnn" in cuda_spec.sbsa and cuda_spec.sbsa.cudnn8.version != "" %}
{% set has_cudnn_package = true %}
ENV NVIDIA_CUDNN_VERSION {{ cuda_spec.sbsa.cudnn8.version }}
ENV NVIDIA_CUDNN_PACKAGE_NAME libcudnn{{ cuda_spec.sbsa.cudnn8.major }}
{% endif %}

# setup libraries packages
ENV NVIDIA_CUDA_COMPAT_PACKAGE cuda-compat-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
{% if docker_options.distro in ['ubi8', 'amazonlinux'] %}
# package name definition
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}-${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME libnccl
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}-${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif -%}
{% if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.sbsa.cudnn8.major }}-${NVIDIA_CUDNN_VERSION}.cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
RUN <<EOF > /etc/yum.repos.d/cuda.repo
[cuda]
name=cuda
baseurl={{ cuda_spec.repository }}/rhel8/sbsa
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-NVIDIA
EOF
{% else %}
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}=${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libcusparse_package %}
ENV NVIDIA_CUSPARSE_PACKAGE libcusparse-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBCUSPARSE_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME "libnccl2"
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}=${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{%if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.sbsa.cudnn8.major }}=${NVIDIA_CUDNN_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{% endif %}
{% endif %}

{# ----------------------------------------------------------------------------------------------------------------- #}
{% if "ppc64le" in cuda_spec and docker_options.distro not in ["debian", "debian-miniconda"] %}
{% do cached.append("ppc64le") %}
FROM base as base-ppc64le
{% if docker_options.distro in ['ubi8', 'amazonlinux'] %}
ENV NVARCH ppc64le
{% else %}
ENV NVARCH ppc64el
{% endif %}
{% if "requires" in cuda_spec.ppc64le %}
ENV NVIDIA_REQUIRE_CUDA "{{ cuda_spec.ppc64le.requires }}"
{% endif %}

# setup libraries versions
ENV NVIDIA_CUDA_CUDART_VERSION {{ cuda_spec.ppc64le.cudart.version }}
ENV NVIDIA_NVTX_VERSION {{ cuda_spec.ppc64le.nvtx.version }}
{% if "libnpp" in cuda_spec.ppc64le %}
{% set has_libnpp_package = true %}
ENV NVIDIA_LIBNPP_VERSION {{ cuda_spec.ppc64le.libnpp.version }}
{% endif %}
ENV NVIDIA_LIBCUBLAS_VERSION {{ cuda_spec.ppc64le.libcublas.version }}
{% if "libnccl2" in cuda_spec.ppc64le and cuda_spec.ppc64le.libnccl2 %}
{% set has_libnccl_package = true %}
ENV NVIDIA_LIBNCCL_PACKAGE_VERSION {{ cuda_spec.ppc64le.libnccl2.version }}
ENV NVIDIA_LIBNCCL_VERSION {{ cuda_spec.ppc64le.libnccl2.version[:-2] }}
ENV NCCL_VERSION {{ cuda_spec.ppc64le.libnccl2.version[:-2] }}
{% endif %}
{% if "libcusparse" in cuda_spec.ppc64le and cuda_spec.ppc64le.libcusparse %}
{% set has_libcusparse_package = true %}
ENV NVIDIA_LIBCUSPARSE_VERSION {{ cuda_spec.ppc64le.libcusparse.version }}
{% endif %}
{% if "cudnn" in cuda_spec.ppc64le and cuda_spec.ppc64le.cudnn8.version != "" %}
{% set has_cudnn_package = true %}
ENV NVIDIA_CUDNN_VERSION {{ cuda_spec.ppc64le.cudnn8.version }}
ENV NVIDIA_CUDNN_PACKAGE_NAME libcudnn{{ cuda_spec.ppc64le.cudnn8.major }}
{% endif %}

# setup libraries packages
ENV NVIDIA_CUDA_COMPAT_PACKAGE cuda-compat-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
{% if docker_options.distro in ['ubi8', 'amazonlinux'] %}
# package name definition
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}-${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}-${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME libnccl
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}-${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif -%}
{% if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.ppc64le.cudnn8.major }}-${NVIDIA_CUDNN_VERSION}.cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
RUN <<EOF > /etc/yum.repos.d/cuda.repo
[cuda]
name=cuda
baseurl={{ cuda_spec.repository }}/rhel8/ppc64le
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-NVIDIA
EOF
{% else %}
ENV NVIDIA_CUDA_CUDART_PACKAGE cuda-cudart-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_CUDART_VERSION}
ENV NVIDIA_LIBRARIES_PACKAGE cuda-libraries-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_CUDA_LIB_VERSION}
ENV NVIDIA_NVTX_PACKAGE cuda-nvtx-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_NVTX_VERSION}
ENV NVIDIA_LIBCUBLAS_PACKAGE_NAME libcublas-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}
ENV NVIDIA_LIBCUBLAS_PACKAGE ${NVIDIA_LIBCUBLAS_PACKAGE_NAME}=${NVIDIA_LIBCUBLAS_VERSION}
{% if has_libnpp_package %}
ENV NVIDIA_LIBNPP_PACKAGE libnpp-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBNPP_VERSION}
{% endif %}
{% if has_libcusparse_package %}
ENV NVIDIA_CUSPARSE_PACKAGE libcusparse-{{ cuda_spec.version.major }}-{{ cuda_spec.version.minor }}=${NVIDIA_LIBCUSPARSE_VERSION}
{% endif %}
{% if has_libnccl_package %}
ENV NVIDIA_LIBNCCL_PACKAGE_NAME "libnccl2"
ENV NVIDIA_LIBNCCL_PACKAGE ${NVIDIA_LIBNCCL_PACKAGE_NAME}=${NVIDIA_LIBNCCL_PACKAGE_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{%if has_cudnn_package %}
ENV NVIDIA_CUDNN_PACKAGE libcudnn{{ cuda_spec.ppc64le.cudnn8.major }}=${NVIDIA_CUDNN_VERSION}+cuda{{ cuda_spec.version.major }}.{{ cuda_spec.version.minor }}
{% endif %}
{% endif %}
{% endif %}
