{{ header }}
{% set cached = ['arm32v5', 'arm32v6'] %}
ARG XX_VERSION={{ xx_version }}

FROM --platform=$BUILDPLATFORM {{ xx_image }}:${XX_VERSION} AS xx

FROM {{ base_image }} as python
ARG PYTHON_VERSION

ENV PYTHON_VERSION="${PYTHON_VERSION}"

WORKDIR /tmp

RUN --mount=type=cache,sharing=shared,target=/var/cache/yum \
    yum groupinstall -y "Development Tools" \
    && yum -y install gcc openssl11 openssl11-devel bzip2-devel libffi-devel wget curl gcc-c++ make git \
    && yum clean all

RUN <<"EOT"
set -ex
PIP_URL="https://bootstrap.pypa.io/get-pip.py"
if [ "${PYTHON_VERSION}" = "3.6" ]; then 
    FULL_VERSION="3.6.15"
    PIP_URL="https://bootstrap.pypa.io/pip/3.6/get-pip.py"
elif [ "${PYTHON_VERSION}" = "3.7" ]; then 
    FULL_VERSION="3.7.13"
elif [ "${PYTHON_VERSION}" = "3.8" ]; then 
    FULL_VERSION="3.8.13"
elif [ "${PYTHON_VERSION}" = "3.9" ]; then 
    FULL_VERSION="3.9.11"
elif [ "${PYTHON_VERSION}" = "3.10" ]; then 
    FULL_VERSION="3.10.3"
else 
    echo "${PYTHON_VERSION} is not yet supported"
    exit 1
fi 
curl -O "${PIP_URL}"
wget https://www.python.org/ftp/python/"${FULL_VERSION}"/Python-"${FULL_VERSION}".tgz 
tar xvf Python-"${FULL_VERSION}".tgz 
cd Python-"${FULL_VERSION}"/ && ./configure --enable-optimizations 
make -j4 install
EOT

FROM {{ base_image }} as base

COPY --from=xx / /

COPY --from=python /usr /usr
COPY --from=python /lib /lib
COPY --from=python /etc /etc
COPY --from=python /tmp/get-pip.py /tmp/get-pip.py

FROM base as base-arm64

FROM base as base-amd64

FROM base-${TARGETARCH}

ARG TARGETARCH

# setup ENV and ARG
{% for key, value in envars.items() if key not in ["BENTOML_VERSION","LC_ALL","LANG"] %}
{% if key in ["PYTHON_VERSION"] %}
ARG {{ key }}
{% else %}
ENV {{ key }}={{ value }}
{% endif %}
{% endfor %}

# needed for string substitution
SHELL ["/bin/bash","-exo", "pipefail", "-c"]

ENV PATH "$PATH:/root/.local/bin:$HOME/.local/bin:/usr/local/bin:/usr/bin"

RUN python3 /tmp/get-pip.py --user

RUN if [ ! -e /usr/bin/pip ]; then ln -s pip3 /usr/bin/pip ; fi

RUN if [ ! -e /usr/bin/python ]; then ln -sf /usr/bin/python3 /usr/bin/python; fi
