{{ metadata.header }}
{% set cached = ['arm32v5', 'arm32v6'] %}

ARG XX_VERSION={{ xx_version }}

FROM --platform=$BUILDPLATFORM {{ xx_image }}:${XX_VERSION} AS xx

ARG PYTHON_VERSION

FROM {{ metadata.base_image }} as python

WORKDIR /tmp

RUN <<"EOT"
if [ "${PYTHON_VERSION}" == "3.6" ]; then
	FULL_VERSION="3.6.15"
elif [ "${PYTHON_VERSION}" == "3.7" ]; then
	FULL_VERSION="3.7.13"
elif [ "${PYTHON_VERSION}" == "3.8" ]; then
	FULL_VERSION="3.8.13"
elif [ "${PYTHON_VERSION}" == "3.9" ]; then
	FULL_VERSION="3.9.11"
elif [ "${PYTHON_VERSION}" == "3.10" ]; then
	FULL_VERSION="3.10.3"
fi
yum -y update
yum groupinstall "Development Tools" && \
	yum -y install \
		gcc openssl11 openssl11-devel bzip2-devel libffi-devel wget curl

curl -O https://bootstrap.pypa.io/get-pip.py
wget https://www.python.org/ftp/python/${FULL_VERSION}/Python-${FULL_VERSION}.tgz && tar xvf Python-${FULL_VERSION}.tgz
cd Python-${PYTHON_VERSION}*/ && ./configure --enable-optimizations
make -j$(nproc) install
EOT

FROM {{ metadata.base_image }} as base

COPY --from=xx / /
COPY --from=python /usr /usr
COPY --from=python /lib /lib
COPY --from=python /tmp/get-pip.py /tmp/get-pip.py

FROM base as base-arm64

FROM base as base-amd64

FROM base-${TARGETARCH}

ARG TARGETARCH

# setup ENV and ARG
{% for key, value in metadata.envars.items() if key not in ["BENTOML_VERSION","LC_ALL","LANG"] %}
{% if key in ["PYTHON_VERSION"] %}
ARG {{ key }}
{% else %}
ENV {{ key }}={{ value }}
{% endif %}
{% endfor %}

# needed for string substitution
SHELL ["/bin/bash","-exo", "pipefail", "-c"]

ENV PATH "$PATH:$HOME/.local/bin"

RUN python3 get-pip.py --user

RUN --mount=type=cache,target=/var/cache/yum yum upgrade -y \
		&& yum install -y gcc gcc-c++ make \
		&& yum clean all
