{{ metadata.header }}

ARG XX_VERSION={{ xx_version }}

{% if xx_image == 'xx-local' %}

FROM {{ xx_image }}:${XX_VERSION}-${TARGETARCH} as xx

{% else %}

FROM --platform=$BUILDPLATFORM {{ xx_image }}:${XX_VERSION} AS xx

{% endif %}

ARG PYTHON_VERSION

FROM {{ metadata.package }}:{{ build_tag }} as base

COPY --from=xx / /

FROM base as base-arm64

FROM base as base-amd64

FROM base-${TARGETARCH}

ARG TARGETARCH

LABEL maintainer "BentoML Team <contact@bentoml.com>"

WORKDIR /

RUN pip install -U git+https://github.com/bentoml/bentoml.git@main
