{{ metadata.header }}

{% set cached = ['arm32v5', 'arm32v6'] %}

{% set pip_options = ['--no-cache-dir'] %}

ARG PYTHON_VERSION

FROM {{ metadata.package }}:{{ build_tag }} as base

FROM base as base-arm64

FROM base as base-amd64

FROM base-${TARGETARCH}

ARG TARGETARCH

ENV BENTOML_VERSION={{ metadata.envars['BENTOML_VERSION'] }}

RUN pip install bentoml==${BENTOML_VERSION} {{ pip_options|join(' ') }}

RUN --mount=type=cache,target=/var/cache/yum yum remove -y git gcc \
	&& yum clean all
