# Dev dependencies
GitPython>=2.0
setuptools
autoflake
twine
wheel
pydantic
types-click
types-chardet
types-setuptools
types-PyYAML
pyspark-stubs
types-filelock
autoflake
attrs>=21.1
black==21.4b2
codecov
coverage>=4.4
flake8>=3.8.2
flake8-length>=0.2.0
isort>=5.0.0
pylint>=2.9.3
pytest-cov>=2.7.1
pytest>=5.4.0
pytest-asyncio
pandas
scikit-learn
imageio>=2.5.0
