# Docs dependencies
-r tests-requirements.txt
sphinx==4.5.0
myst-parser
sphinx-click>=3.0.2
furo
sphinx-inline-tabs
sphinxext-opengraph
sphinxcontrib-fulltoc
sphinxcontrib-spelling
sphinx-copybutton
sphinx-issues
sphinx-design
pyenchant
mock
Jinja2<3.1
