# Docs dependencies
-r tests-requirements.txt
sphinx>=4.1.0
recommonmark
sphinx-click>=3.0.2
sphinx_rtd_theme
sphinx-tabs
sphinxcontrib-fulltoc
sphinxcontrib-spelling
sphinx-copybutton
pyenchant
mock
