# Tests dependencies
black[jupyter]==22.3.0
codecov
coverage>=4.4
isort>=5.0.0
pydantic
pylint>=2.14.0
pytest-cov>=3.0.0
pytest>=6.2.0
pytest-asyncio
pandas
scikit-learn
imageio>=2.5.0
pyarrow
build[virtualenv] >=0.8.0
yamllint
setuptools<=60
# There is memory leak in later Python GRPC (1.43.0 to be specific),
# use known working version until the memory leak is resolved in the future
# (see https://github.com/grpc/grpc/issues/28513)
grpcio-tools<1.43.0
