RUN pip install bentoml[model_server]==$BENTOML_VERSION --no-cache-dir
COPY tools/model-server/entrypoint.sh /usr/local/bin/

ENTRYPOINT [ "entrypoint.sh" ]
CMD ["bentoml", "serve-gunicorn", "/bento"]

# YataiService GRPC port
EXPOSE 50051

# YataiService Web UI port
EXPOSE 3000

RUN pip install bentoml[yatai_service]==$BENTOML_VERSION --no-cache-dir
COPY tools/yatai-service/entrypoint.sh /usr/local/bin/

ENTRYPOINT ["entrypoint.sh"]
CMD ["bentoml", "yatai-service-start"]