ARG CUDA={{ version }}

# needed for string substitutions
SHELL ["/bin/bash", "-c"]
RUN apt-get update && apt-get install -y --no-install-recommends \
    build-essential \
    curl \
    libcublas-${CUDA/./-} \
    libcurand-${CUDA/./-} \
    libcusparse-${CUDA/./-} \
    libcufft-${CUDA/./-} \
    libcusolver-${CUDA/./-} \
    libcudnn${CUDNN_MAJOR_RELEASE}=${CUDNN}-1+cuda${CUDA} \
    && apt-get clean \
    && apt-mark hold libcudnn${CUDNN_MAJOR_RELEASE} libcublas-${CUDA/./-} \
    && rm -rf /var/lib/apt/lists/*