{% import '_macros.j2' as common %}
{% extends "base_alpine.j2" %}
{% set __environment_yml__=expands_bento_path("env", "conda", "environment.yml", bento_path=bento__path) %}
{% block SETUP_BENTO_ENVARS %}
{{ super() }}

{{ common.conda_instalation(__python_version__, __environment_yml__) }}
{% endblock %}
