name: CI

on:
  push:
    branches:
      - master
      - bentoml-1.0
      - main
  pull_request:
    branches:
      - master
      - bentoml-1.0
      - main
  schedule:
    - cron: '0 0 * * 1/2'

jobs:

  diff:
    runs-on: ubuntu-latest
    outputs:
      related: ${{ steps.filter.outputs.related }}
      bentoml: ${{ steps.filter.outputs.bentoml }}
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          base: 'bentoml-1.0'
          filters: |
            related: &related
              - codecov.yml
              - .github/workflows/ci.yml
              - setup.cfg
              - pyproject.toml
              - scripts/ci/config.yml
              - scripts/ci/run_tests.sh
              - requirements/tests-requirements.txt
            bentoml:
              - *related
              - "bentoml/**"
              - "tests/**"
              - "docker/**"
            docs:
              - *related
              - requirements/docs-requirements.txt
              - "docs/**"
  codestyle_check:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    needs:
      - diff

    if: ${{ (github.event_name == 'pull_request' && needs.diff.outputs.bentoml == 'true') || github.event_name == 'push' }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: x64

      - name: Get pip cache dir
        id: cache-dir
        run: |
          echo ::set-output name=dir::$(pip cache dir)
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '17'
      - name: install pyright
        run: |
          npm install -g npm@^7 pyright
      - name: Cache pip dependencies
        uses: actions/cache@v2
        id: cache-pip
        with:
          path: ${{ steps.cache-dir.outputs.dir }}
          key: codestyle-${{ hashFiles('requirements/dev-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements/dev-requirements.txt
      - name: Format check
        run: make ci-format
      - name: Lint check
        run: make ci-lint
      - name: Type check
        run: make ci-pyright

  documentation_spelling_check:
    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest
    needs:
      - diff

    if: ${{ (github.event_name == 'pull_request' && needs.diff.outputs.docs == 'true') || github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # fetch all tags and branches
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Get pip cache dir
        id: cache-dir
        run: |
          echo ::set-output name=dir::$(pip cache dir)
      - name: Cache pip dependencies
        uses: actions/cache@v2
        id: cache-pip
        with:
          path: ${{ steps.cache-dir.outputs.dir }}
          key: ${{ runner.os }}-docs-${{ hashFiles('requirements/docs-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements/docs-requirements.txt
      - name: Install libenchant
        run: |
          sudo apt-get update && sudo apt-get install -y libenchant-dev
      - name: Run spellcheck script
        run: make spellcheck-docs
        shell: bash

  unit_tests:
    needs:
      - diff

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ '3.7', '3.8', '3.9' ]
    defaults:
      run:
        shell: bash

    if: ${{ (github.event_name == 'pull_request' && needs.diff.outputs.bentoml == 'true') || github.event_name == 'push' }}
    name: python${{ matrix.python-version }}_unit_tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
        ith:
          fetch-depth: 0 # fetch all tags and branches

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Get pip cache dir
        id: cache-dir
        run: |
          echo ::set-output name=dir::$(pip cache dir)
      - name: Cache pip dependencies
        uses: actions/cache@v2
        id: cache-pip
        with:
          path: ${{ steps.cache-dir.outputs.dir }}
          key: ${{ runner.os }}-tests-${{ hashFiles('requirements/tests-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements/tests-requirements.txt
      - name: Run unit tests
        if: ${{ matrix.os != 'windows-latest' }}
        run: make tests-unit

      - name: Run unit tests (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          pytest tests/unit --cov=bentoml --cov-config=setup.cfg --cov-report=xml:"unit.xml"
      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          name: codecov-${{ matrix.os }}-python${{ matrix.python-version }}
          fail_ci_if_error: true
          flags: unit-tests
          directory: ./
          files: ./unit.xml
          verbose: true


  bento_server_e2e_tests:
    needs:
      - diff

    strategy:
      fail-fast: false
      matrix:
        # TODO(bojiang): Fixes windows path problem
        os: [ubuntu-latest, macos-latest]
        python-version: [ '3.7', '3.8', '3.9' ]
    defaults:
      run:
        shell: bash

    if: ${{ (github.event_name == 'pull_request' && needs.diff.outputs.bentoml == 'true') || github.event_name == 'push' }}
    name: python${{ matrix.python-version }}_e2e_tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # fetch all tags and branches
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Get pip cache dir
        id: cache-dir
        run: |
          echo ::set-output name=dir::$(pip cache dir)
      - name: Cache pip dependencies
        uses: actions/cache@v2
        id: cache-pip
        with:
          path: ${{ steps.cache-dir.outputs.dir }}
          key: ${{ runner.os }}-tests-${{ hashFiles('requirements/tests-requirements.txt') }}

      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements/tests-requirements.txt
      - name: Run tests and generate coverage report
        run: make tests-general_features

      - name: Upload test coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          flags: e2e-tests
          directory: ./
          files: ./tests/e2e/bento_server_general_features/general_features.xml
          verbose: true

concurrency:
  group: ci-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: truew
